@using EntityLayer.Concrete
@model List<Skill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminnewLayout.cshtml";
}

<div class="card">
    <div class="card-header border-0">
        <h3 class="mb-0">Yetenek Listesi</h3>
    </div>
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Başlık</th>
                    <th scope="col">Oran</th>
                    <th scope="col">Sil</th>
                    <th scope="col">Düzenle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    int value = int.Parse(item.Value); // Değeri tam sayı türüne dönüştürme
                    string progressBarClass = "bg-success";
                    if (value <= 20)
                    {
                        progressBarClass = "bg-danger";
                    }
                    else if (value <= 50)
                    {
                        progressBarClass = "bg-warning";
                    }

                    <tr>
                        <td>@item.SkilID</td>
                        <td>@item.Title</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="mr-2">@item.Value%</span>
                                <div class="progress" style="width: 100px;">
                                    <div class="progress-bar @progressBarClass" role="progressbar" style="width: @item.Value%;" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <form asp-action="DeleteSkillConfirmed" asp-route-id="@item.SkilID" onsubmit="return confirmDelete();">
                                <button type="submit" class="btn btn-danger btn-l">Sil</button>
                            </form>
                        </td>
                        <td>
                            <a href="/Skill/EditSkill/@item.SkilID" class="btn btn-info btn-l">Güncelle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="card-footer">
    <a href="/Skill/AddSkill/" class="btn btn-outline-primary btn-lg">Yeni Yetenek Ekle</a>
</div>

@* Silme işlemi için eklendi *@
<script>
    function confirmDelete() {
        return confirm("Bu yeteneği silmek istediğinizden emin misiniz?");
    }
</script>

<style>
    .bg-danger {
        background-color: red !important;
    }

    .bg-warning {
        background-color: yellow !important;
        color: black !important;
    }

    .bg-success {
        background-color: green !important;
    }
</style>
