@using EntityLayer.Concrete
@model List<Experience>

<div class="section px-3 px-lg-4 pt-5" id="experience">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Deneyimlerim</h2>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                var aosDirection = i % 2 == 0 ? "fade-right" : "fade-left";
                <div class="col-md-6 mb-4">
                    <div class="card" data-aos="@aosDirection" data-aos-delay="100">
                        <div class="card-header px-3 py-2">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="h5 mb-1">@item.Name</h3>
                                    <div class="text-muted text-small">@item.Date</div>
                                </div>
                                <img src="@item.ImageUrl" width="48" height="48" alt="ui-ux" />
                            </div>
                        </div>
                        <div class="card-body px-3 py-2">
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
